<div class="chrome-player-app">
  <img class="reload-btn" alt="Reload" src="../assets/reload.png" (click)="reloadExtension()"/>
  <h1>{{ title }}</h1>
  <img width="70" alt="Angular Logo" src="../assets/SpotifyLogo.png" />
  <span *ngIf="!songsLoaded">Loading songs...</span>
  <ul *ngIf="songsLoaded">
    <li *ngFor="let track of tracks; let isFirst = first; let index = index;">
      <div class="title" [class.first]="isFirst">
          <img src="{{track.album?.imageUrl}}" alt="Album Cover" class="cover">
          <div class="name-container">
              <h3>{{ track.name }}</h3>
              <span>{{ track.artists[0].name }}</span>
          </div>
      </div>
      <audio controls (play)="onPlay(track)">
        <source src="{{ track.previewUrl }}" type="audio/mpeg" />
        Your browser does not support the audio tag.
      </audio>
    </li>
  </ul>
</div>
